<div class="legend-configuration-container">
  <app-legend-color-picker (colorSelect)="onColorSelect($event)" [color]="color"></app-legend-color-picker>
  <mat-form-field class="ml-2">
    <input matInput (blur)="onLegendUpdate($event)" type="text" [(ngModel)]="name" />
  </mat-form-field>
  <button title="Make default status" class="legend-button">
    <img [src]="isDefault ? setDefaultIcon : unsetDefaultIcon" (click)="onSetDefaultStatus($event)"
      alt="Make Default Status" />
  </button>
  <button *ngIf="showDeleteIcon" title="Delete legend" class="legend-button" (click)="onDeleteLegend($event)">
    <img [src]="deleteIcon" alt="" />
  </button>
</div>
