<div class="legend-configuration-container w-100">
  <div class="d-flex align-items-center">
    <app-legend-color-picker (colorSelect)="onColorSelect($event)" [color]="color"></app-legend-color-picker>
    <mat-form-field class="ml-2">
      <input matInput (blur)="onLegendUpdate($event)" type="text" [(ngModel)]="name" />
    </mat-form-field>
  </div>
  <small *ngIf="isDefault" class="text-muted bg-light p-1 ml-2">default</small>
  <button matTooltip="Set as default status" mat-icon-button class="ml-2">
    <img [src]="isDefault ? setDefaultIcon : unsetDefaultIcon" (click)="onSetDefaultStatus($event)"
      alt="Make Default Status" />
  </button>
  <button *ngIf="showDeleteIcon" title="Delete legend" class="legend-button" (click)="onDeleteLegend($event)">
    <img [src]="deleteIcon" alt="" />
  </button>
</div>
