<form #fieldsSettingsForm="ngForm" style="width: 100%; height: 100%;">
  <table class="table table-borderless" style="height: 90%;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Show in list</th>
      </tr>
    </thead>
    <tbody
      *ngIf="
        (dataLoaded$ | async) &&
        !(dataLoading$ | async) &&
        !(tableFields$ | async)
      "
    >
      <tr>
        <i>There are no fields settings to be displayed</i>
      </tr>
    </tbody>
    <tbody *ngIf="(dataLoading$ | async) && !(dataLoaded$ | async)">
      <tr style="margin-top: 0.5em;">
        <mat-card>
          <mat-card-content>
            <div>Discovering Configurations</div>
            <mat-progress-bar
              mode="indeterminate"
            ></mat-progress-bar></mat-card-content
        ></mat-card>
      </tr>
    </tbody>
    <tbody
      *ngIf="
        (dataLoaded$ | async) &&
        !(dataLoading$ | async) &&
        (tableFields$ | async)
      "
    >
      <tr *ngFor="let field of tableFields$ | async">
        <td>{{ field.name }}</td>
        <td>
          <mat-checkbox
            name="{{ field.id }}"
            [(ngModel)]="field.columnMandatory"
          ></mat-checkbox>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="bottom-section">
    <button type="button" (click)="closeDialog('Close')" mat-stroked-button>
      Cancel
    </button>
    <button
      *ngIf="tableFields$ | async as fields"
      type="submit"
      style="margin-left: 0.5em;"
      mat-flat-button
      color="primary"
      (click)="saveSettings(fieldsSettingsForm, fields)"
    >
      Update
    </button>
  </div>
</form>
