<nav class="navbar navbar-light border-bottom">
  <a class="navbar-brand application-navbar-brand" href="#">
    <img src="assets/icons/icon-96x96.png" alt="" />
    <span class="application-title">Action Tracker</span>
  </a>
  <div class="d-flex">
    <button
      mat-button
      [routerLink]="['/data-entry']"
      color="{{ (currentPage$ | async) === '/data-entry' ? 'primary' : '' }}"
    >
      <i class="fa fa-pencil"></i> Data Entry
    </button>

    <button
      mat-button
      routerLink="/analysis"
      color="{{ (currentPage$ | async) === '/analysis' ? 'primary' : '' }}"
    >
      <i class="fa fa-line-chart"></i> Analysis
    </button>
  </div>
</nav>
