.data-entry-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.data-entry-content {
  padding-top: 15px;
}

.mat-button-toggle-checked {
  background-color: #00796b !important;
  color: #fff;
}
