<div class="data-entry-container">
  <mat-card>
    <div class="data-entry-header d-print-none">
      <h4>{{isActionTracking ? 'Action Tracking' : 'Action Planning'}}</h4>
      <button *ngIf="!isActionTracking" class="text-muted" mat-stroked-button (click)="onToggleActionTracking($event)">
        <span class="mr-2">Action Tracking</span>
        <mat-icon>arrow_forward</mat-icon>
      </button>

      <button *ngIf="isActionTracking" class="text-muted" mat-stroked-button (click)="onToggleActionTracking($event)">
        <mat-icon class="mr-2">arrow_backward</mat-icon>
        <span>Back to Planning</span>
      </button>
    </div>
    <mat-divider class="d-print-none"></mat-divider>
    <div class="data-entry-content">
      <app-action-table [isActionTracking]="isActionTracking" (download)="onDownloadActions($event)" id="pdfExport">
      </app-action-table>
    </div>
  </mat-card>
</div>
