<div class="container mt-3">
  <div class="row justify-content-md-center">
    <div class="col-12" style="text-align: center;">
      <p>
        Are you sure your you wish to delete this action?
      </p>
      <div>
        <button
          class="mx-2"
          mat-flat-button
          color="warn"
          (click)="onDeleteConfirmation($event, 'DELETE')"
        >
          Yes
        </button>
        <button
          class="mx-2"
          mat-stroked-button
          (click)="onDeleteConfirmation($event, 'CANCEL')"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>
