<div class="legend-set-container">
  <div class="legend-set-body">
    <div class="legend-set-loading-block" *ngIf="!legendSetLoaded">
      <div>
        <img src="assets/icons/balls-3.svg" alt="" />
        <div>Discovering Legends...</div>
      </div>
    </div>
    <div class="legend-set-group_list" *ngIf="legendSetLoaded">
      <!-- legend set group item -->
      <div
        class="legend-set-group_item"
        *ngFor="let legendSet of legendSets; let first = first"
      >
        <!-- content -->
        <div
          class="legend-set-group_item-content"
          *ngIf="
            legendSet.id == currentLegendSet || (!currentLegendSet && first)
          "
        >
          <div class="legend-set-group_item-member-list">
            <div
              class="legend-set-group_item-member-item"
              *ngIf="legendSet.legends.length > 0"
            >
              <app-legend-set
                (legendSetUpdates)="onLegendSetUpdates($event)"
                [legendSet]="legendSet"
                [showDeleteIcon]="showDeleteIcon"
              ></app-legend-set>
            </div>
            <div class="add-new-legend">
              <!-- <button
                title="Add new legend"
                class="add-new-legend-button"
                (click)="addNewLegend($event, legendSet.id)"
              >
                Add
              </button> -->
              <button
                mat-mini-fab
                color="primary"
                title="Add new legend"
                (click)="addNewLegend($event, legendSet.id)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <!-- end of content -->
      </div>
      <!-- end of legend set group item -->
    </div>
  </div>

  <div class="legend-set-btns">
    <button mat-stroked-button (click)="onClose($event)">
      Close</button
    >&nbsp;
    <button mat-flat-button color="primary" (click)="onUpdate($event)">
      Update
    </button>
  </div>
</div>
