<div class="intervention-filter-container">
  <!--intervention body-->
  <div class="intervention-body">
    <div class="intervention-available-body">
      <div class="p-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Search Interventions</mat-label>
          <input matInput [(ngModel)]="searchText" />
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <ul class="intervention-list">
        <li class="intervention-loading-block" *ngIf="loadingInterventions$ | async">
          <div>
            <img src="assets/icons/balls-3.svg" alt="" />
            <div>Discovering interventions...</div>
          </div>
        </li>
        <li *ngFor="
            let availableIntervention of availableInterventions$
              | async
              | filter: searchText:'name'
          ">
          <a *ngIf="availableInterventions$ | async as availableInterventions" [ngClass]="{
              'selected-active': isInArray(
                selectedItemsList,
                availableIntervention?.id
              )
            }" (click)="
              onClickToSelectData(
                availableIntervention,
                availableInterventions,
                $event,
                'SELECT'
              )
            " (dblclick)="
              moveSingleSelectedDataItem(availableIntervention, $event)
            ">
            {{ availableIntervention?.name }}
          </a>
        </li>
      </ul>
    </div>

    <div class="intervention-transfer-buttons" *ngIf="availableInterventions$ | async as availableInterventions">
      <button type="button" (click)="onSelectAllInterventions($event, availableInterventions)" class="transfer-btn"
        mat-icon-button>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
          data-test="dhis2-uicore-transfer-actions-addall-iconaddall" fill="#404B5A" class="jsx-114231192">
          <g fill-rule="evenodd" class="jsx-114231192">
            <polygon fill-rule="nonzero" points="6 2 4.94 3.06 9.13 7.25 0 7.25 0 8.75 9.13 8.75 4.94 12.94 6 14 12 8"
              class="jsx-114231192"></polygon>
            <polygon fill-rule="nonzero" points="10 2 8.94 3.06 13.13 7.25 13.9 8 13.13 8.75 8.94 12.94 10 14 16 8"
              class="jsx-114231192"></polygon>
          </g>
        </svg>
      </button>
      <button type="button" class="transfer-btn" (click)="moveSelectedItems($event)"
        [disabled]="!selectedItemsList.length" mat-icon-button>
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <button type="button" class="transfer-btn" (click)="moveDeselectedItems($event)"
        [disabled]="!deselectedItemsList.length" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button type="button" (click)="onDeselectAllInterventions($event)" class="transfer-btn" mat-icon-button>
        <svg fill="#6e7a8a" width="16px" height="16px" viewBox="0 0 16 16"
          data-test="dhis2-uicore-transfer-actions-removeall-iconremoveall" xmlns="http://www.w3.org/2000/svg"
          class="jsx-114231192">
          <g fill-rule="evenodd" class="jsx-114231192">
            <polygon fill-rule="nonzero"
              points="10 2 8.94 3.06 13.13 7.25 4 7.25 4 8.75 13.13 8.75 8.94 12.94 10 14 16 8"
              transform="matrix(-1 0 0 1 20 0)" class="jsx-114231192"></polygon>
            <polygon fill-rule="nonzero" points="1.06 2 0 3.06 4.19 7.25 4.96 8 4.19 8.75 0 12.94 1.06 14 7.06 8"
              transform="matrix(-1 0 0 1 7.06 0)" class="jsx-114231192"></polygon>
          </g>
        </svg>
      </button>
    </div>
    <div class="intervention-selected-body">
      <div class="p-3">Selected Interventions</div>
      <ul class="intervention-list">
        <li *ngFor="let selectedIntervention of selectedInterventions">
          <a *ngIf="availableInterventions$ | async as availableInterventions" [ngClass]="{
              'selected-active': isInArray(
                deselectedItemsList,
                selectedIntervention?.id
              )
            }" (click)="
              onClickToSelectData(
                selectedIntervention,
                availableInterventions,
                $event,
                'DESELECT'
              )
            " (dblclick)="
              moveSingleDeselectedDataItem(selectedIntervention, $event)
            ">
            <span class="badge badge-info">{{ selectedIntervention.type }}</span>&nbsp;
            <span>{{ selectedIntervention.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--end of intervention body-->

  <!--intervention footer-->
  <div class="ngx-dhis2-intervention__intervention-buttons">
    <div>
      <button mat-stroked-button (click)="onClose($event)">
        Close</button>&nbsp;
      <button mat-flat-button color="primary" [disabled]="selectedInterventions?.length === 0"
        (click)="onUpdate($event)">
        Update
      </button>
    </div>
  </div>
  <!--end of intervention footer-->
</div>
