/* .widget-table-header {
  background-color: #276696;
  color: #ffffff;
} */

.auto-filled {
  background: #ffffff;
}

.auto-filled-input {
  background-color: transparent;
  border: none;
  outline: none;
  pointer-events: none;
}

.auto-filled-label {
  background-color: transparent;
  border: none;
}

.table-cell-data {
  font-size: 14px !important;
  padding: 0.2rem !important;
  height: auto;
}

.table-header-cell {
  background-color: #f5f5f5;
  font-size: 14px;
}

.custom-text-area {
  /* width: 100% !important; */
  padding: 8px 5px !important;
  display: inline !important;
  resize: vertical;
}

.delete-message {
  text-align: center;
}

.progress-block {
  display: flex;
  justify-content: space-around;
}

.progress-item {
  width: 100%;
}

.widget-notification {
  -webkit-animation: fadeOut 2s forwards;
  animation: fadeOut 2s forwards;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  padding: 10px;
  text-align: center;
}

.custom-done-icon {
  font-size: 14px;
  display: inline;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.action-tracker-column {
  position: relative;
}

.add-action-block {
  position: absolute;
  display: block;
  bottom: 10px;
}

.add-action-text {
  display: none;
}

.btn-add-action:hover .add-action-text {
  display: block;
}

.context-menu-item {
  display: block;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-decoration: none !important;
  color: #666666 !important;
}

.context-menu-item:hover {
  background-color: #f5f5f5;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal-dialog {
  max-width: 800px !important;
}
