<div>
  <table
    class="table table-bordered table-responsive"
    #rootCauseAnalysisTable
    *ngIf="configuration$ | async as rootCauseAnalysisConfiguration"
  >
    <thead class="table-header-cell">
      <tr>
        <th width="1%">SN.</th>
        <th
          [hidden]="dataElement.isHidden"
          *ngFor="
            let dataElement of rootCauseAnalysisConfiguration.dataElements
          "
        >
          {{ dataElement.name }}
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="dataLoading$ | async">
      <tr>
        <td colspan="100%">
          <div>{{ (notification$ | async)?.message }}</div>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="data$ | async as rootCauseAnalysisData" [@listEnter]>
      <tr
        *ngFor="
          let dataItem of rootCauseAnalysisData;
          let i = index;
          trackBy: dataItem?.id
        "
        class="{{ dataItem?.rootCauseDataId }}"
        id="{{ dataItem?.id || dataItem?.rootCauseDataId }}"
        [contextMenu]="extraActions"
        [contextMenuSubject]="dataItem"
      >
        <td>{{ i + 1 }}</td>
        <td [attr.colspan]="11" *ngIf="toBeDeleted[dataItem.id]" align="center">
          <div class="d-flex align-items-center justify-content-end">
            <span>Are you sure wish to delete this data?</span>&nbsp;
            <button
              mat-stroked-button
              (click)="onToggleCancelAction($event, dataItem)"
            >
              No</button
            >&nbsp;
            <button
              mat-flat-button
              color="warn"
              (click)="
                onConfirmActionDelete(
                  dataItem,
                  rootCauseAnalysisConfiguration.dataElements
                )
              "
            >
              Yes
            </button>
          </div>
        </td>
        <td
          [hidden]="dataElement.isHidden || toBeDeleted[dataItem.id]"
          *ngFor="
            let dataElement of rootCauseAnalysisConfiguration.dataElements;
            let j = index
          "
          [ngClass]="{
            'for-display': !dataElement.isHidden,
            'action-tracker-column': dataElement.isActionTrackerColumn,
            'solution-column': !dataElement.isActionTrackerColumn
          }"
        >
          <ng-container id="dataItem?.id_dataElement?.id">
            <div
              *ngIf="
                (!dataItem.isActive && !dataItem.isHidden) ||
                (dataItem.isActive &&
                  !dataElement.optionSetValue &&
                  dataElement.valueType == 'AUTO_FILLED')
              "
              class="form-control auto-filled-label table-cell-data"
            >
              <app-text-view
                *ngIf="dataElement.valueType === 'TEXTAREA'"
                [text]="dataItem.dataValues[dataElement.id]"
              ></app-text-view>
              <div *ngIf="dataElement.valueType !== 'TEXTAREA'">
                {{ dataItem.dataValues[dataElement.id] }}
              </div>
            </div>
          </ng-container>
        </td>

        <td
          class="action-tracker-column"
          [hidden]="!dataItem.rowspan"
          [attr.rowspan]="dataItem.rowspan"
        >
          <div class="action-tracker-form-wrapper" hidden="true">
            <action-tracker-form
              [dataItem]="dataItem"
              [configurations]="actionTrackerConfiguration$ | async"
              (save)="onSave($event, dataItem)"
              (cancel)="cancelDataEntryForm($event, rootCauseAnalysisData)"
            ></action-tracker-form>
          </div>
          <div class="add-action-block">
            <button
              mat-icon-button
              class="btn-add-action"
              title="Click to add new action"
              (click)="
                onAddAction($event, dataItem, rootCauseAnalysisConfiguration)
              "
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr *ngIf="(dataSelections$ | async).length === 0">
        <td colspan="100%" class="text-sm text-secondary">
          <mat-card>
            <mat-card-content>
              <i>
                Select Intervention, Period and Organisation unit to view manage
                your actions
              </i>
            </mat-card-content></mat-card
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="(configurationLoading$ | async) || !(configuration$ | async)">
    <mat-card>
      <mat-card-content>
        <div>Discovering Configurations</div>
        <mat-progress-bar
          mode="indeterminate"
        ></mat-progress-bar></mat-card-content
    ></mat-card>
  </div>
</div>

<context-menu
  [useBootstrap4]="true"
  *ngIf="configuration$ | async as rootCauseAnalysisConfiguration"
>
  <ng-template contextMenuItem (execute)="onActionEdit($event.item)">
    <a class="context-menu-item"> <i class="fa fa-pencil"></i> Edit </a>
  </ng-template>
  <ng-template
    contextMenuItem
    (execute)="
      onActionDelete($event.item, rootCauseAnalysisConfiguration?.dataElements)
    "
  >
    <a class="context-menu-item"> <i class="fa fa-trash-o"></i> Delete </a>
  </ng-template>
</context-menu>
