<div>
  <table
    class="table table-bordered table-responsive"
    #rootCauseAnalysisTable
    *ngIf="configuration$ | async as rootCauseAnalysisConfiguration"
  >
    <thead class="table-header-cell thead-light">
      <tr>
        <th width="1%">SN.</th>
        <th
          [hidden]="dataElement.isHidden"
          *ngFor="
            let dataElement of rootCauseAnalysisConfiguration.dataElements
          "
        >
          {{ dataElement.name }}
        </th>
        <th width="130px">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="dataLoading$ | async">
      <tr>
        <td colspan="100%">
          <div>{{ (notification$ | async)?.message }}</div>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="data$ | async as rootCauseAnalysisData" [@listEnter]>
      <tr
        *ngFor="
          let dataItem of rootCauseAnalysisData;
          let i = index;
          trackBy: dataItem?.id
        "
        class="{{ dataItem?.rootCauseDataId }}"
        id="{{ dataItem?.id || dataItem?.rootCauseDataId }}"
        [contextMenu]="extraActions"
        [contextMenuSubject]="dataItem"
      >
        <td>{{ i + 1 }}</td>
        <td
          [hidden]="dataElement.isHidden || toBeDeleted[dataItem.id]"
          *ngFor="
            let dataElement of rootCauseAnalysisConfiguration.dataElements;
            let j = index
          "
          [ngClass]="{
            'action-tracker-column': dataElement.isActionTrackerColumn,
            'solution-column': !dataElement.isActionTrackerColumn
          }"
        >
          <ng-container id="dataItem?.id_dataElement?.id">
            <div
              *ngIf="
                (!dataItem.isActive && !dataItem.isHidden) ||
                (dataItem.isActive &&
                  !dataElement.optionSetValue &&
                  dataElement.valueType == 'AUTO_FILLED')
              "
              class="form-control auto-filled-label table-cell-data"
            >
              <app-text-view
                *ngIf="dataElement.valueType === 'TEXTAREA'"
                [text]="dataItem.dataValues[dataElement.id]"
              ></app-text-view>
              <div *ngIf="dataElement.valueType !== 'TEXTAREA'">
                {{ dataItem.dataValues[dataElement.id] }}
              </div>
            </div>
          </ng-container>
          <a
            title="Save when done"
            class="text-secondary custom-done-icon"
            (click)="onDoneEditing($event, dataItem)"
            *ngIf="
              j == rootCauseAnalysisConfiguration.dataElements.length - 1 &&
              dataItem.isActive
            "
          >
            <i class="icon-ok-circled2"></i
          ></a>
        </td>
        {{
          dataElement
        }}
        <td
          class="action-tracker-column"
          [hidden]="!dataItem.rowspan"
          [attr.rowspan]="dataItem.rowspan"
        >
          <div class="action-tracker-form-wrapper" hidden="true">
            <action-tracker-form
              [dataItem]="dataItem"
              [configurations]="actionTrackerConfiguration$ | async"
              (save)="onSave($event, dataItem)"
              (cancel)="cancelDataEntryForm($event, rootCauseAnalysisData)"
            ></action-tracker-form>
          </div>
          <div class="add-action-block">
            <button
              class="btn btn-sm btn-primary d-flex align-items-center btn-add-action"
              title="Click to add new action"
              (click)="
                onAddAction($event, dataItem, rootCauseAnalysisConfiguration)
              "
            >
              <i class="fa fa-plus"></i
              ><span class="ml-1 add-action-text">Add Action</span>
            </button>
          </div>
        </td>
      </tr>
      <tr *ngIf="(dataSelections$ | async).length === 0">
        <td colspan="100%" class="text-sm text-secondary">
          <p class="text-center mb-0">
            <i>
              Select Intervention, Period and Organisation unit to view manage
              your actions
            </i>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="(configurationLoading$ | async) || !(configuration$ | async)">
    <div>Discovering Configurations</div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<context-menu
  [useBootstrap4]="true"
  *ngIf="configuration$ | async as rootCauseAnalysisConfiguration"
>
  <ng-template
    contextMenuItem
    class="text-muted px-2"
    (execute)="showMessage('Now Editing')"
  >
    Edit
  </ng-template>
  <hr />
  <ng-template
    contextMenuItem
    class="text-muted px-2"
    (execute)="
      onActionDelete($event.item, rootCauseAnalysisConfiguration?.dataElements)
    "
  >
    Delete
  </ng-template>
</context-menu>
