<div class="selection-filter-container" appClickOutside (clickOutside)="onClickOutside()">
  <!--selection filter header-->
  <div class="selection-filter-header">
    <div class="selection-filter-item-list">

      <div class="selection-filter-item-block" *ngFor="let selectionFilter of selectionFilters">
        <h6>{{selectionFilter.name}}</h6>
        <button class="selection-filter-button text-muted" mat-stroked-button>
          <div class="selection-filter-button-content">
            <div>Select {{selectionFilter.name}}</div>
            <mat-icon inline=true>keyboard_arrow_down</mat-icon>
          </div>
        </button>
        <div *ngIf="false" class="selected-item-block">
          <div>Selected</div>
          <mat-icon class="text-muted selection-filter-close" matRipple>close</mat-icon>
        </div>
      </div>

      <!--data filter button-->
      <button mat-stroked-button [disabled]="saving" *ngIf="false"
        color="{{ selectedFilter === 'INTERVENTION' ? 'primary' : '' }}" [title]="'Filter by data' | translate"
        (click)="toggleCurrentFilter($event, 'INTERVENTION')">
        <i class="fa fa-th"></i>&nbsp;{{ 'Intervention' | translate }}&nbsp;
        <span class="badge badge-secondary">{{
          selectedInterventions | summarizeSelection
        }}</span>&nbsp;
        <i class="fa {{
            selectedFilter === 'INTERVENTION' ? 'fa-caret-up' : 'fa-caret-down'
          }}"></i>
      </button>
      <!--end of data filter button-->

      <!--period filter button-->
      <button mat-stroked-button [disabled]="saving" *ngIf="false"
        color="{{ selectedFilter === 'PERIOD' ? 'primary' : '' }}" [title]="'Filter by period' | translate"
        (click)="toggleCurrentFilter($event, 'PERIOD')">
        <i class="fa fa-clock-o"></i>&nbsp;{{ 'Period' | translate }}&nbsp;
        <span class="badge badge-secondary">{{
          selectedPeriods | summarizeSelection
        }}</span>&nbsp;
        <i class="fa {{
            selectedFilter === 'PERIOD' ? 'fa-caret-up' : 'fa-caret-down'
          }}"></i>
      </button>
      <!--end of period filter button-->

      <!--org unit filter button-->
      <button mat-stroked-button [disabled]="saving" *ngIf="false"
        color="{{ selectedFilter === 'ORG_UNIT' ? 'primary' : '' }}" [title]="'Filter by organisation unit' | translate"
        (click)="toggleCurrentFilter($event, 'ORG_UNIT')">
        <i class="fa fa-sitemap"></i>&nbsp;{{ 'Org-Unit' | translate }}
        &nbsp;
        <span class="badge badge-secondary">{{
          selectedOrgUnits | summarizeSelection
        }}</span>
        &nbsp;<i class="fa {{
            selectedFilter === 'ORG_UNIT' ? 'fa-caret-up' : 'fa-caret-down'
          }}"></i>
      </button>
    </div>
  </div>
  <!--end of selection filter header-->

  <!--selection filter body-->
  <div class="selection-filter-body" *ngIf="selectedFilter !== '' && showFilterBody">
    <!-- intervention filter -->
    <app-intervention-filter *ngIf="selectedFilter === 'INTERVENTION'" [selectedInterventions]="selectedInterventions"
      (close)="onFilterClose($event, 'INTERVENTION')" (update)="onFilterUpdate($event, 'INTERVENTION')">
    </app-intervention-filter>
    <!-- end of intervention filter -->

    <!--period filter-->
    <ngx-dhis2-period-filter *ngIf="selectedFilter === 'PERIOD'" [selectedPeriods]="selectedPeriods"
      [periodFilterConfig]="periodFilterConfig" (close)="onFilterClose($event, 'PERIOD')"
      (update)="onFilterUpdate($event, 'PERIOD')"></ngx-dhis2-period-filter>
    <!--end of period filter-->

    <!--org unit filter-->
    <ngx-dhis2-org-unit-filter *ngIf="selectedFilter === 'ORG_UNIT'" [selectedOrgUnitItems]="selectedOrgUnits"
      [orgUnitFilterConfig]="filterConfig?.orgUnitFilterConfig" (orgUnitClose)="onFilterClose($event, 'ORG_UNIT')"
      (orgUnitUpdate)="onFilterUpdate($event, 'ORG_UNIT')"></ngx-dhis2-org-unit-filter>
    <!--end of org unit filter-->
  </div>
  <!--end of selection filter body-->
</div>
