<div class="application-container">
  <ngx-dhis2-menu></ngx-dhis2-menu>
  <div class="application-content">
    <!-- application header -->

    <!-- end of application header -->

    <div class="container-fluid application-content-container">
      <!-- application filter -->
      <div class="row mt-3">
        <div class="col-6 d-flex justify-content-start">
          <div>
            <ngx-dhis2-selection-filters
              [selectionFilterConfig]="selectionFilterConfig"
              (filterUpdate)="onFilterUpdate($event)"
            ></ngx-dhis2-selection-filters>
          </div>
        </div>
        <div
          class="col-6 d-flex justify-content-end"
          *ngIf="route$ | async as routeUrl"
        >
          <div *ngIf="!(routeUrl.indexOf('analysis') > -1)">
            <app-legend></app-legend>
          </div>
        </div>
      </div>
      <!-- end of application filter -->
      <div class="row mt-3">
        <div class="col-12">
          <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="actionPlanning">
              <ng-template matStepLabel>Action Planning</ng-template>
              <app-data-entry></app-data-entry>
            </mat-step>
            <mat-step [stepControl]="actionTracking">
              <ng-template matStepLabel>Action Tracking</ng-template>
              <app-data-entry></app-data-entry>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>
