<div style="overflow: hidden">
  <h5>Action Status Settings</h5>
  <app-legend-set-container [legendItems]="legendItems" [showDeleteIcon]="false"
                            (legendSetConfigurationClose)="onLegendSetConfigurationClose($event)"
                            (legendSetConfigurationUpdate)="onLegendSetConfigurationUpdate($event)"
                            [legendSetEntities]="legendSetEntities$ | async"
                            [legendSetLoaded]="legendSetLoadedState$ | async"></app-legend-set-container>
</div>

