.add-action-block {
  position: absolute;
  display: block;
  bottom: 10px;
}

.action-tracking-column {
  border: 1px solid #dee2e6;
}

.bna-column {
  background-color: #f5f5f5;
}
.blocked-quater {
  background-color: #dee2e6;
}

.action-table-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
