.add-action-block {
  position: absolute;
  display: block;
  bottom: 10px;
}

.action-tracking-column {
  border: 1px solid #dee2e6;
}

.bna-column {
  background-color: #eeebeb;
}
.blocked-quater {
  background-color: #dee2e6;
}
