<div>
  <div *ngIf="!(configurationLoaded$ | async) || !(configuration$ | async)">
    <mat-card>
      <mat-card-content>
        <div>Discovering Configurations</div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="action-table-container border-top border-left border-right"
    *ngIf="configurationLoaded$ | async"
  >
    <div class="action-table-header d-print-none">
      <div class="d-flex">
        <button mat-stroked-button [matMenuTriggerFor]="statusFilter" color="">
          <div class="d-flex justify-content-between align-items-center">
            <span>Status</span>
            <div class="d-flex align-items-center" *ngIf="selectedStatus">
              <span>: {{ selectedStatus.name }}</span>
              <mat-icon
                *ngIf="false"
                class="status-close-btn"
                color="warn"
                inline="true"
                (click)="onClearStatus($event)"
              >
                close
              </mat-icon>
            </div>
            <mat-icon inline="true">keyboard_arrow_down</mat-icon>
          </div>
        </button>
        <mat-menu class="d-print-none p-3" #statusFilter="matMenu">
          <mat-radio-group
            *ngIf="legendSet$ | async as legendSet"
            class="action-status-options"
            (change)="onChangeStatus($event, legendSet.legends)"
          >
            <mat-radio-button checked value="">
              All
            </mat-radio-button>
            <mat-radio-button
              *ngFor="let legend of legendSet.legends"
              [value]="legend.id"
            >
              {{ legend.name }}
            </mat-radio-button>
          </mat-radio-group>
        </mat-menu>
      </div>
      <div>
        <button
          class="text-muted"
          matTooltip="Open column settings"
          mat-icon-button
          *ngIf="columnSettings$ | async as columnSettings"
        >
          <mat-icon (click)="openColumnConfigDialog(columnSettings)"
            >list</mat-icon
          >
        </button>
        <button
          class="text-muted download-btn"
          matTooltip="Open download options"
          [matMenuTriggerFor]="moreTableOptions"
          mat-icon-button
        >
          <mat-icon>publish</mat-icon>
        </button>

        <mat-menu class="d-print-none" #moreTableOptions="matMenu">
          <button mat-menu-item (click)="onDownload($event, 'XLSX')">
            Excel
          </button>
          <button mat-menu-item (click)="onDownload($event, 'CSV')">CSV</button>
          <button mat-menu-item (click)="onDownload($event, 'PDF')">PDF</button>
        </mat-menu>
      </div>
    </div>
    <table
      #tableElement
      class="table action-table"
      *ngIf="configuration$ | async as configuration"
    >
      <tr>
        <th class="text-muted table-count-column">#</th>
        <th
          *ngFor="let dataElement of configuration.dataElements"
          [hidden]="
            dataElement.isHidden || !(columnSettings$ | async)[dataElement.id]
          "
          [ngClass]="{
            'bna-column': !dataElement?.isActionTrackerColumn,
            'text-muted': true
          }"
        >
          {{ dataElement.name }}
        </th>
        <th class="text-muted" *ngIf="!isActionTracking">Status</th>
        <th class="hide-on-export d-print-none" *ngIf="!isActionTracking"></th>
        <th
          class="text-muted hide-on-export d-print-none"
          style="border-left: 1px solid #dee2e6;"
          *ngIf="!isActionTracking"
        ></th>
        <ng-container *ngIf="isActionTracking">
          <th
            class="text-muted border-left"
            *ngFor="let quarter of actionTrackingQuarters$ | async"
            style="width: 7% !important;"
          >
            {{ quarter.name || 'Quarters Not Supported' }}
          </th>
        </ng-container>
      </tr>

      <!-- Loading Table Body -->
      <tbody *ngIf="dataLoading$ | async">
        <tr>
          <td colspan="100%">
            <div>{{ (notification$ | async)?.message }}</div>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </td>
        </tr>
      </tbody>
      <!-- Loading Table Body Ends-->

      <!-- Table instance on start up with explanations of how to fetch data -->
      <tbody *ngIf="!(dataLoading$ | async) && !(dataLoaded$ | async)">
        <tr>
          <td colspan="100%">
            <span>
              <i>
                Select Intervention, Period and Organization Unit to see actions
              </i>
            </span>
          </td>
        </tr>
      </tbody>

      <!-- Body for there is no data starts here -->

      <tbody
        *ngIf="
          (dataLoaded$ | async) &&
          !(dataLoading$ | async) &&
          !(
            data$
            | async
            | filterByAttribute: 'latestStatus':selectedStatus?.id
          )?.length
        "
      >
        <tr>
          <td colspan="100%">
            <span>
              <i *ngIf="selectedStatus?.name && selectedStatus?.name !== 'All'"
                >No actions with {{ selectedStatus?.name }} status for the
                selected parameters</i
              >
              <i
                *ngIf="!selectedStatus?.name || selectedStatus?.name === 'All'"
              >
                There are no possible solutions based on parameters selected.
              </i>
            </span>
          </td>
        </tr>
      </tbody>
      <!-- Body for there is no data ends here -->

      <tbody *ngIf="columnSettings$ | async as columnSettings">
        <tr
          *ngFor="
            let actionDataItem of data$
              | async
              | filterByAttribute: 'latestStatus':selectedStatus?.id;
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td
            matTooltip="Click row to see full text or truncate"
            [matTooltipPosition]="'after'"
            *ngFor="let actionDataElement of configuration.dataElements"
            [ngClass]="{
              'bna-column': !actionDataElement?.isActionTrackerColumn
            }"
            [hidden]="
              actionDataElement.isHidden ||
              (actionDataElement.isNotTrackingColumn && isActionTracking) ||
              !(columnSettings$ | async)[actionDataElement.id]
            "
            (click)="toggleTruncationStatus(actionDataItem)"
          >
            {{
              (actionDataItem?.dataValues)[actionDataElement.id]
                | textTruncate: 40:actionDataItem.truncateStatus
            }}
          </td>
          <td
            *ngIf="!isActionTracking"
            class="px-1"
            style="-webkit-print-color-adjust: exact;"
            [style.background-color]="
              actionDataItem.latestStatus
                | colorize: (legendSetStatus$ | async):'#fff'
            "
          >
            {{
              (actionDataItem.latestStatus
                | convertLegendId: (legendSetStatus$ | async)) || 'Not Set'
            }}
          </td>

          <td
            *ngIf="!isActionTracking"
            class="px-1 hide-on-export d-print-none"
            style="width: 70px;"
          >
            <ng-container *ngIf="actionDataItem.attributes">
              <span
                title="Click to edit action"
                class="text-success mr-1"
                style="cursor: pointer;"
                mat-icon-button
                (click)="
                  onEditAction(
                    $event,
                    actionDataItem,
                    configuration.dataElements
                  )
                "
              >
                <mat-icon>edit</mat-icon>
              </span>
              <span
                title="Click to delete action"
                class="text-danger ml-1"
                style="cursor: pointer;"
                mat-icon-button
                (click)="onDeleteAction($event, actionDataItem)"
              >
                <mat-icon>delete</mat-icon>
              </span>
            </ng-container>
          </td>
          <td
            class="action-controls-column hide-on-export d-print-none"
            *ngIf="actionDataItem.rowspan && !isActionTracking"
            [attr.rowspan]="actionDataItem.rowspan"
            style="border-left: 1px solid #dee2e6;"
          >
            <div class="add-action-block">
              <button
                class="text-muted"
                *ngIf="reportVisualizations$ | async as reportVisualizations"
                (click)="
                  onViewProgress(
                    $event,
                    reportVisualizations,
                    actionDataItem,
                    configuration.dataElements
                  )
                "
                mat-icon-button
                matTooltip="View indicator progress"
              >
                <mat-icon>bar_chart</mat-icon>
              </button>
              <button
                class="ml-2 text-muted"
                matTooltip="Click to add new action"
                mat-icon-button
                (click)="
                  onAddAction(
                    $event,
                    actionDataItem,
                    configuration.dataElements
                  )
                "
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>

          <ng-container *ngIf="isActionTracking">
            <ng-container
              *ngIf="
                programStageConfiguration$
                  | async as actionTrackingConfigurations
              "
            >
              <td
                class="action-tracking-column"
                *ngFor="
                  let actionTrackingItem of actionDataItem.actionTrackingColumns;
                  let first = first
                "
                (click)="toggleTruncationStatus(actionDataItem)"
              >
                <div
                  *ngFor="
                    let actionTrackingConfiguration of actionTrackingConfigurations
                  "
                  [hidden]="!actionTrackingItem.hasEvent"
                  (dblclick)="
                    onEditActionTracking(
                      $event,
                      actionDataItem,
                      actionTrackingItem,
                      actionTrackingConfigurations
                    )
                  "
                  matTooltip="Double Click to Edit"
                  matTooltipDisabled="{{
                    actionTrackingItem.isCurrentQuater ? false : true
                  }}"
                  [matTooltipPosition]="'after'"
                >
                  <p class="my-0">
                    <b>{{
                      actionTrackingConfiguration.shortName ||
                        actionTrackingConfiguration.name
                    }}</b>
                  </p>
                  <p
                    class="mb-1"
                    [style.color]="
                      actionTrackingItem[
                        actionTrackingConfiguration.formControlName
                      ] | colorize: (legendSetStatus$ | async):'#000'
                    "
                  >
                    {{
                      actionTrackingItem[
                        actionTrackingConfiguration.formControlName
                      ]
                        | convertLegendId: (legendSetStatus$ | async)
                        | textTruncate: 40:actionDataItem.truncateStatus
                    }}
                  </p>
                </div>
                <div
                  *ngIf="
                    !actionTrackingItem.hasEvent && actionDataItem.hasQuarters
                  "
                >
                  <button
                    class="text-muted d-print-none"
                    matTooltip="Click to add new review"
                    mat-icon-button
                    (click)="
                      onEditActionTracking(
                        $event,
                        actionDataItem,
                        actionTrackingItem,
                        actionTrackingConfigurations
                      )
                    "
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
