<div>
  <div *ngIf="!(configurationLoaded$ | async) || !(configuration$ | async)">
    <mat-card>
      <mat-card-content>
        <div>Discovering Configurations</div>
        <mat-progress-bar
          mode="indeterminate"
        ></mat-progress-bar></mat-card-content
    ></mat-card>
  </div>

  <div *ngIf="configurationLoaded$ | async">
    <table
      #tableElement
      class="table"
      *ngIf="configuration$ | async as configuration"
    >
      <thead>
        <tr>
          <th>#</th>
          <th
            *ngFor="let dataElement of configuration.dataElements"
            [hidden]="dataElement.isHidden"
            [ngClass]="{ 'bna-column': !dataElement?.isActionTrackerColumn }"
          >
            {{ dataElement.name }}
          </th>
          <th *ngIf="!isActionTracking">Status</th>
          <th *ngIf="!isActionTracking"></th>
          <th
            width="5%"
            style="border-left: 1px solid #dee2e6;"
            *ngIf="!isActionTracking"
          ></th>
          <ng-container *ngIf="isActionTracking">
            <th
              *ngFor="let quarter of actionTrackingQuarters$ | async"
              style="width: 7% !important;"
            >
              {{ quarter.name || 'Quarters Not Supported' }}
            </th>
          </ng-container>
        </tr>
      </thead>

      <tbody *ngIf="dataLoading$ | async">
        <tr>
          <td colspan="100%">
            <div>{{ (notification$ | async)?.message }}</div>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="!(dataLoading$ | async) && !(dataLoaded$ | async)">
        <tr>
          <td colspan="100%">
            <span>
              <i>
                Select Intervention, Period and Organization Unit to see actions
              </i>
            </span>
          </td>
        </tr>
      </tbody>

      <tbody
        *ngIf="
          (dataLoaded$ | async) &&
          (data$ | async)?.length == 0 &&
          !(dataLoading$ | async)
        "
      >
        <tr>
          <td colspan="100%">
            <span>
              <i>
                There are no possible solutions based on parameters selected.
              </i>
            </span>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr *ngFor="let actionDataItem of data$ | async; let i = index">
          <td>{{ i + 1 }}</td>
          <td
            matTooltip="Click row to see full text or truncate"
            [matTooltipPosition]="'after'"
            *ngFor="let actionDataElement of configuration.dataElements"
            [ngClass]="{
              'bna-column': !actionDataElement?.isActionTrackerColumn
            }"
            [hidden]="
              actionDataElement.isHidden ||
              (actionDataElement.isNotTrackingColumn && isActionTracking)
            "
            (click)="toggleTruncationStatus(actionDataItem)"
          >
            {{
              (actionDataItem?.dataValues)[actionDataElement.id]
                | textTruncate: 40:actionDataItem.truncateStatus
            }}
          </td>
          <td
            *ngIf="!isActionTracking"
            class="px-1"
            [style.background-color]="
              actionDataItem.latestStatus
                | colorize: (legendSetStatus$ | async):'#fff'
            "
          >
            {{
              actionDataItem.latestStatus
                | convertLegendId: (legendSetStatus$ | async)
            }}
          </td>
          <td *ngIf="!isActionTracking" class="px-1" style="width:70px">
            <ng-container *ngIf="actionDataItem.attributes">
              <span
                title="Click to edit action"
                class="text-success mr-1"
                style="cursor: pointer;"
                mat-icon-button
                (click)="
                  onEditAction(
                    $event,
                    actionDataItem,
                    configuration.dataElements
                  )
                "
              >
                <mat-icon>edit</mat-icon>
              </span>
              <span
                title="Click to delete action"
                class="text-danger ml-1"
                style="cursor: pointer;"
                mat-icon-button
                (click)="onDeleteAction($event, actionDataItem)"
              >
                <mat-icon>delete</mat-icon>
              </span>
            </ng-container>
          </td>
          <td
            class="position-relative"
            *ngIf="actionDataItem.rowspan && !isActionTracking"
            [attr.rowspan]="actionDataItem.rowspan"
            style="border-left: 1px solid #dee2e6;"
          >
            <div class="add-action-block">
              <button
                title="Click to add new action"
                mat-icon-button
                (click)="
                  onAddAction(
                    $event,
                    actionDataItem,
                    configuration.dataElements
                  )
                "
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>

          <ng-container *ngIf="isActionTracking">
            <ng-container
              *ngIf="
                programStageConfiguration$
                  | async as actionTrackingConfigurations
              "
            >
              <td
                class="action-tracking-column"
                *ngFor="
                  let actionTrackingItem of actionDataItem.actionTrackingColumns;
                  let first = first
                "
                (click)="toggleTruncationStatus(actionDataItem)"
              >
                <div
                  *ngFor="
                    let actionTrackingConfiguration of actionTrackingConfigurations
                  "
                  [hidden]="
                    (!first && !actionDataItem.hasEvents) ||
                    !actionTrackingItem.hasEvent
                  "
                  (dblclick)="
                    onEditActionTracking(
                      $event,
                      actionDataItem,
                      actionTrackingItem,
                      actionTrackingConfigurations
                    )
                  "
                  matTooltip="Double Click to Edit"
                  matTooltipDisabled="{{
                    actionTrackingItem.isCurrentQuater ? false : true
                  }}"
                  [matTooltipPosition]="'after'"
                >
                  <p class="my-0">
                    <b>{{
                      actionTrackingConfiguration.shortName ||
                        actionTrackingConfiguration.name
                    }}</b>
                  </p>
                  <p
                    class="mb-1"
                    [style.color]="
                      actionTrackingItem[
                        actionTrackingConfiguration.formControlName
                      ] | colorize: (legendSetStatus$ | async):'#000'
                    "
                  >
                    {{
                      actionTrackingItem[
                        actionTrackingConfiguration.formControlName
                      ]
                        | convertLegendId: (legendSetStatus$ | async)
                        | textTruncate: 40:actionDataItem.truncateStatus
                    }}
                  </p>
                </div>
                <div
                  *ngIf="
                    !actionTrackingItem.hasEvent &&
                    actionTrackingItem.hasQuarters
                  "
                >
                  <button
                    title="Click to add new review"
                    mat-icon-button
                    (click)="
                      onEditActionTracking(
                        $event,
                        actionDataItem,
                        actionTrackingItem,
                        actionTrackingConfigurations
                      )
                    "
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
